<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieApplicationDataBase.Properties.Settings.ConnectionString" connectionString="USER ID=VIDEO_RENT;PASSWORD=video_rent;DATA SOURCE=localhost:1521/XEPDB1;TNS_ADMIN=C:\Users\Artyom\Oracle\network\admin;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>